html
{
    background-color: aqua;
}


.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.screen
{
    height: 600px;
    width: 600px;
    background-color: white;
}

.settings
{
    height: 200px;
}