*
{
    font-family: 'VT323', 'Times New Roman';
}

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body
{
    background-image: url("https://github.com/Helloimalex1223/etchASketch/blob/main/images/45951.jpg");
    background-size: contain;
    background-position: center;
}

.title
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1Title
{
    font-size: 60px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.925);
    padding: 1rem .5rem;
}

h2
{
    font-size: 35px;
    text-align: center;
}

li
{
    font-size: 25px;
    padding: .5rem 0;
}



.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.window
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen
{
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.settings
{
    height: 100px;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

button, input
{
    width: 180px;
    height: 100%;
    font-size: 30px;
    border: 3px solid black;
}

button:hover, input:hover
{
    transition: ease-in-out .3s;
    scale: 1.1;
    box-shadow: -1px 13px 89px -23px rgba(99,99,99,1);
}


.sq
{
    outline-style: dotted;
    outline-color: black;
    outline-width: 1px;

}

.instructions1, .instructions2
{
    width: 600px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.925);
    padding: 2rem;
    box-sizing: border-box;
    border: .25rem black solid;
}

.spanImg
{
    height: 100%;
    width: 30px;
}
